<h1><%= @user.name %>'s Madlibs</h1>

<%= link_to 'Go to Madlibs and create a new!', madlibs_path %>
<ol>
  <% @user.user_vocabs.each do |uv| %>
    <% madlib = uv.madlib %>
    <li><%= link_to madlib.title, madlib_user_vocab_path(madlib, uv) %></li>
  <% end %>
</ol>

<h5> <%= @user.name %>'s Words'</h5>
<ul>
  <% @user.words.each do |word| %>
    <li><%= word.word %></li>
  <% end %>
</ul>
