<h1>New Madlib Generator</h1>

<h3>Enter words here.</h3>
<%= form_for @user_vocab do |f| %>
  <% @madlib_types.each do |type| %>
    <%= hidden_field_tag :'user_words[word_types][]', type.word_type %>
    <%= label_tag :"user_words[words][]", "Word #{type.word_type}" %>
    <%= text_field_tag :"user_words[words][]" %>
  <% end %>

<%= f.submit %>
<% end %>
