<h1>New Madlib Generator</h1>

<h3>Enter words here.</h3>

<%= form_for @user_vocab do |f| %>
<%= f.label :name %>
<%= f.text_field :type %><br>

<%= f.label :adjective %>
<%= f.text_field :type %><br>

<%= f.label :pronoun %>
<%= f.text_field :type %><br>

<%= f.label :action_verb %>
<%= f.text_field :type %><br>

<%= f.label :noun %>
<%= f.text_field :type %><br>

<%= f.submit %>
<% end %>
